# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*
.ipynb_checkpoints
# Data
data/raw/*
data/processed/*
data/synthetic/*
data/external/*
!data/.keep
!data/raw/.keep
!data/processed/.keep
!data/synthetic/.keep
!data/external/.keep
# VSCode
.vscode/*
# OS
.DS_Store
Thumbs.db

